@charset "UTF-8";
/*!////////////////////////////////////////////////
// BASE
/////////////////////////////////////////////////*/
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html,
body,
iframe,
div,
section,
header,
p,
a,
ul,
ol,
li,
article,
footer,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.rwd-table {
  margin: 1em 0;
  min-width: 300px; }
  .rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .rwd-table th {
    display: none; }
  .rwd-table td {
    display: block; }
    .rwd-table td:first-child {
      padding-top: .5em; }
    .rwd-table td:last-child {
      padding-bottom: .5em; }
    .rwd-table td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }
      @media (min-width: 480px) {
        .rwd-table td:before {
          display: none; } }
  .rwd-table th, .rwd-table td {
    text-align: left; }
    @media (min-width: 480px) {
      .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em; }
        .rwd-table th:first-child, .rwd-table td:first-child {
          padding-left: 0; }
        .rwd-table th:last-child, .rwd-table td:last-child {
          padding-right: 0; } }

/*!////////////////////////////////////////////////
// LAYOUT
/////////////////////////////////////////////////*/
.wrap {
  width: 92%;
  margin: 0px auto;
  position: relative; }

.row {
  clear: both; }

@media screen and (min-width: 480px) {
  .wrap {
    width: 90%; }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-half,
  .grid-full,
  .grid-25,
  .grid-unit {
    float: left;
    width: 100%; }
    .grid-1:nth-child(n),
    .grid-2:nth-child(n),
    .grid-3:nth-child(n),
    .grid-4:nth-child(n),
    .grid-5:nth-child(n),
    .grid-6:nth-child(n),
    .grid-half:nth-child(n),
    .grid-full:nth-child(n),
    .grid-25:nth-child(n),
    .grid-unit:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-1:nth-child(1n),
    .grid-2:nth-child(1n),
    .grid-3:nth-child(1n),
    .grid-4:nth-child(1n),
    .grid-5:nth-child(1n),
    .grid-6:nth-child(1n),
    .grid-half:nth-child(1n),
    .grid-full:nth-child(1n),
    .grid-25:nth-child(1n),
    .grid-unit:nth-child(1n) {
      margin-right: 0; }
    .grid-1:last-child,
    .grid-2:last-child,
    .grid-3:last-child,
    .grid-4:last-child,
    .grid-5:last-child,
    .grid-6:last-child,
    .grid-half:last-child,
    .grid-full:last-child,
    .grid-25:last-child,
    .grid-unit:last-child {
      margin-right: 0; }

  .gallery .grid-unit,
  .grid-half {
    width: 49.24242%; }
    .gallery .grid-unit:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .gallery .grid-unit:nth-child(2n),
    .grid-half:nth-child(2n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-flow-opposite {
    float: right; } }
@media screen and (min-width: 640px) {
  .grid-1 {
    width: 15.40404%; }
    .grid-1:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-1:nth-child(6n) {
      margin-right: 0; }
    .grid-1:last-child {
      margin-right: 0; }

  .grid-2 {
    width: 32.32323%; }
    .grid-2:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-2:nth-child(3n) {
      margin-right: 0; }
    .grid-2:last-child {
      margin-right: 0; }

  .grid-3,
  .grid-half {
    width: 49.24242%; }
    .grid-3:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-3:nth-child(2n),
    .grid-half:nth-child(2n) {
      margin-right: 0; }
    .grid-3:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-4 {
    width: 66.16162%; }
    .grid-4:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-4:nth-child(1.5n) {
      margin-right: 0; }
    .grid-4:last-child {
      margin-right: 0; }

  .grid-5 {
    width: 82.74242%; }
    .grid-5:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-5:nth-child(1.20482n) {
      margin-right: 0; }
    .grid-5:last-child {
      margin-right: 0; }

  .grid-6,
  .grid-full {
    width: 100%; }
    .grid-6:nth-child(n),
    .grid-full:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-6:nth-child(1n),
    .grid-full:nth-child(1n) {
      margin-right: 0; }
    .grid-6:last-child,
    .grid-full:last-child {
      margin-right: 0; }

  /* If there are no margins */
  .grid-1.no-margin {
    width: 16.66667%; }
    .grid-1.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-1.no-margin:nth-child(6n) {
      margin-right: 0; }
    .grid-1.no-margin:last-child {
      margin-right: 0; }

  .grid-2.no-margin {
    width: 33.33333%; }
    .grid-2.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-2.no-margin:nth-child(3n) {
      margin-right: 0; }
    .grid-2.no-margin:last-child {
      margin-right: 0; }

  .grid-3.no-margin,
  .grid-half.no-margin {
    width: 50%; }
    .grid-3.no-margin:nth-child(n),
    .grid-half.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-3.no-margin:nth-child(2n),
    .grid-half.no-margin:nth-child(2n) {
      margin-right: 0; }
    .grid-3.no-margin:last-child,
    .grid-half.no-margin:last-child {
      margin-right: 0; }

  .grid-4.no-margin {
    width: 66.66667%; }
    .grid-4.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-4.no-margin:nth-child(1.5n) {
      margin-right: 0; }
    .grid-4.no-margin:last-child {
      margin-right: 0; }

  .grid-5.no-margin {
    width: 83.0%; }
    .grid-5.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-5.no-margin:nth-child(1.20482n) {
      margin-right: 0; }
    .grid-5.no-margin:last-child {
      margin-right: 0; }

  .grid-6.no-margin,
  .grid-full.no-margin {
    width: 100%; }
    .grid-6.no-margin:nth-child(n),
    .grid-full.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-6.no-margin:nth-child(1n),
    .grid-full.no-margin:nth-child(1n) {
      margin-right: 0; }
    .grid-6.no-margin:last-child,
    .grid-full.no-margin:last-child {
      margin-right: 0; }

  .grid-25 {
    width: 23.86364%; }
    .grid-25:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-25:nth-child(4n) {
      margin-right: 0; }
    .grid-25:last-child {
      margin-right: 0; }

  .grid-25.no-margin {
    width: 25%; }
    .grid-25.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-25.no-margin:nth-child(4n) {
      margin-right: 0; }
    .grid-25.no-margin:last-child {
      margin-right: 0; }

  .gallery .grid-unit {
    width: 32.32323%; }
    .gallery .grid-unit:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .gallery .grid-unit:nth-child(3n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child {
      margin-right: 0; }

  .content-pad-right {
    padding-right: 4%;
    /* Use (or don't) as necessary. */ }

  .content-pad-left {
    padding-left: 4%; } }
/*!////////////////////////////////////////////////
// THEME
/////////////////////////////////////////////////*/
h1,
h2,
h3,
h4 {
  font-family: "Magra", sans-serif; }

p,
li {
  font-family: "Magra", sans-serif;
  font-weight: 400; }

*[class^="button"] {
  background-color: #fbb100;
  color: #fff;
  padding: 5px 10px; }

*[class^="button"]:hover,
*[class^="button"]:focus {
  background-color: #815246; }

.button__nav {
  color: #fff !important; }

.button__sidebar {
  display: block;
  width: 100%;
  background-color: #f4ecde;
  font-family: "Magra", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #815246;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 15px 0; }

.button__sidebar:hover,
.button__sidebar:focus {
  color: #fff; }

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
@media screen and (min-width: 400px) {
  body {
    font-size: 80%; } }
@media screen and (min-width: 1024px) {
  body {
    font-size: 90%; } }
@media screen and (min-width: 1440px) {
  body {
    font-size: 100%; } }

/*! Header
//////////////////////////////////////*/
.branding {
  width: 100%;
  max-width: 410px;
  display: block;
  vertical-align: bottom;
  margin: 15px auto 0; }
  .branding img {
    width: 100%; }
  @media screen and (min-width: 800px) {
    .branding {
      max-width: 410px;
      display: block;
      margin: 15px auto 0; } }
  @media screen and (min-width: 1172px) {
    .branding {
      max-width: 280px;
      display: inline-block;
      margin: 15px 0 0 0; } }
  @media screen and (min-width: 1320px) {
    .branding {
      max-width: 410px; } }

.nav__container {
  position: relative;
  display: block;
  vertical-align: bottom;
  float: none;
  text-align: center;
  width: 100%; }
  @media screen and (min-width: 800px) {
    .nav__container {
      text-align: center;
      width: auto;
      margin: 0 auto; } }
  @media screen and (min-width: 1172px) {
    .nav__container {
      float: right;
      display: inline-block;
      text-align: right; } }

.phone {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px; }
  @media screen and (min-width: 800px) {
    .phone {
      text-align: center; } }
  @media screen and (min-width: 1172px) {
    .phone {
      text-align: right; } }

header[role=banner] {
  position: relative;
  padding: 20px 0 10px;
  z-index: 2; }

header[role=banner]:after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.2); }

nav[role=navigation] {
  display: none;
  text-align: center; }
  nav[role=navigation] a {
    font-family: "Magra", sans-serif;
    font-size: 1.125em;
    font-weight: 400;
    color: #252525;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 20px; }
  nav[role=navigation] a:hover,
  nav[role=navigation] a:focus {
    color: #815246; }
  @media screen and (min-width: 800px) {
    nav[role=navigation] {
      text-align: center;
      display: block;
      font-size: 1em; } }
  @media screen and (min-width: 1172px) {
    nav[role=navigation] {
      text-align: right; } }
  @media screen and (min-width: 1320px) {
    nav[role=navigation] {
      font-size: 1em; } }
  @media screen and (min-width: 1500px) {
    nav[role=navigation] {
      font-size: 1.125em; } }

.mobile__button {
  display: block;
  font-size: 1.5em; }
  @media screen and (min-width: 800px) {
    .mobile__button {
      display: none; } }

.mobile__nav {
  display: none; }
  .mobile__nav a {
    display: block;
    font-family: "Magra", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #252525;
    text-transform: uppercase;
    text-decoration: none;
    margin: 5px 0 5px; }

/*! Hero unit
//////////////////////////////////////*/
*[class^="hero"],
.image-break {
  position: relative; }
  *[class^="hero"] img,
  .image-break img {
    width: 100%; }

*[class^="hero"]:after,
.image-break:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.2); }

@media screen and (min-width: 875px) {
  .hero--page {
    height: 300px; } }

/*! Main content
//////////////////////////////////////*/
.content__main {
  position: relative;
  background-color: #fff;
  margin-top: -180px;
  z-index: 2; }
  .content__main h1 {
    font-size: 3em;
    font-weight: normal;
    color: #815246;
    margin-bottom: 20px; }

.content__main--intro {
  padding: 20px 20px 20px 5%; }
  @media screen and (min-width: 800px) {
    .content__main--intro {
      padding: 40px 40px 40px 5%; } }
  @media screen and (min-width: 1024px) {
    .content__main--intro {
      padding: 40px 40px 40px 8%; } }
  .content__main--intro p {
    font-size: 1.125em;
    color: #252525;
    line-height: 1.8em;
    margin-bottom: 20px; }
  .content__main--intro h4 {
    font-family: "Magra", sans-serif;
    font-size: 1.875em;
    font-style: normal;
    font-weight: normal;
    color: #815246;
    margin-bottom: 10px; }

*[class^="sidebar"] {
  position: relative;
  z-index: 2;
  background-color: #3e3e3e;
  padding: 20px 5% 20px 20px;
  margin-bottom: -300px !important; }
  @media screen and (min-width: 800px) {
    *[class^="sidebar"] {
      padding: 40px 5% 40px 40px; } }
  @media screen and (min-width: 1024px) {
    *[class^="sidebar"] {
      padding: 40px 8% 40px 40px; } }
  *[class^="sidebar"] h2,
  *[class^="sidebar"] li,
  *[class^="sidebar"] p {
    color: #f4ecde; }
  *[class^="sidebar"] h2 {
    font-size: 2.25em;
    margin-bottom: 20px; }
  *[class^="sidebar"] li {
    font-size: 1.5em;
    margin-left: 25px;
    margin-bottom: 10px; }
  *[class^="sidebar"] p {
    font-size: 1.125em;
    margin-top: 40px; }

.sidebar--page {
  margin-bottom: 60px !important; }

@media screen and (min-width: 400px) and (max-width: 875px) {
  .content__main.grid-4 {
    width: 100%;
    margin-top: 0; }

  *[class^="sidebar"].grid-2 {
    width: 100%;
    margin-bottom: 0 !important; }
    *[class^="sidebar"].grid-2 li {
      position: relative;
      display: inline;
      margin-left: 0;
      margin-right: 25px; }
    *[class^="sidebar"].grid-2 li:after {
      content: "•";
      margin-left: 15px;
      margin-right: -15px; }
    *[class^="sidebar"].grid-2 li:last-child:after {
      display: none; } }
.project-types {
  background-color: #f4ecde;
  padding: 20px 40px 20px 8%; }
  .project-types p {
    font-size: 1.5em;
    color: #968466; }
    .project-types p b {
      margin: 0 5px; }
    .project-types p b:first-child {
      margin: 0 5px 0 0; }

/*! Services
//////////////////////////////////////*/
.content__services {
  background-color: #f4ecde;
  margin-top: -70px;
  padding-bottom: 20px; }

.headline__services {
  font-size: 3em;
  font-weight: normal;
  color: #968466;
  padding: 40px; }

.service {
  text-align: center; }
  .service figure img {
    width: 100%; }
  .service h3,
  .service p {
    color: #968466; }
  .service h3 {
    font-size: 2em;
    line-height: 0.8em;
    margin-top: 20px; }
  .service p {
    font-size: 1.5em; }

/*! Sub Page
//////////////////////////////////////*/
.graphic-quote blockquote {
  font-family: "Magra", sans-serif;
  font-size: 2em;
  font-weight: normal;
  color: #a9a9a9;
  margin: 0 0 10px 0; }
.graphic-quote cite {
  font-family: "Magra", sans-serif;
  font-size: 1.375em;
  font-style: normal;
  color: #a9a9a9; }

.graphic,
.quote {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 20px; }
  @media screen and (min-width: 700px) {
    .graphic,
    .quote {
      width: 50%; } }

.quote {
  padding: 0; }
  @media screen and (min-width: 700px) {
    .quote {
      padding: 0 0 0 20px; } }

/*! Footer
//////////////////////////////////////*/
footer[role=contentinfo] {
  margin: 40px 0; }

.page footer[role=contentinfo] {
  border-top: 8px solid #ccc;
  padding: 30px 0 0; }

.sitemap ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  -o-column-gap: 20px;
  column-gap: 20px; }
  @media screen and (min-width: 800px) {
    .sitemap ul {
      -webkit-column-count: 5;
      -moz-column-count: 5;
      -o-column-count: 5;
      column-count: 5; } }
.sitemap li {
  list-style: none; }

/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/
/*! ==========================================================================
// Media Queries
// =========================================================================*/
/*! ==========================================================================
// Helper classes
// =========================================================================*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

/*! Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
// For best results, use your favorite clearfix here.
// -------------------------------------------------------------- */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

/*! ==========================================================================
// Print styles
// =========================================================================*/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
