@import "resets.scss";
@import "mixins.scss";
@import "layout.scss";
@import "theme.scss";

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
.branding{
	display: inline-block;
	vertical-align: bottom;
}
.nav__container{
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	float: right;
}
.phone{
	text-align: right;
}
header[role=banner]{
	padding: 20px 0 10px;
}
.hero{
	img{
		width: 100%;
	}
}

/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/



@import "shame.scss";
@import "helpers.scss";